<div id="toast-container" class="toast-top-right toast-container">
</div>

<div class="container login-page d-flex justify-content-center align-items-center loginPad ">
  <div class="col-md-6 col-lg-4 p-4">
    </div>
  <div class="col-md-6 col-lg-4 p-4 rounded shadow-lg bg-white loginForm">
    <h2 class="text-center mb-4">Register Page</h2>

    <form (ngSubmit)="addEmployee()">
      <div class="form-group mb-3">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          class="form-control"
          placeholder="Enter your name"
          [(ngModel)]="loginObj.name"
          name="name"
          required
        />
      </div>

      <div class="form-group mb-4">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Enter your password"
          [(ngModel)]="loginObj.email"
          name="email"
        />
      </div>
       <div class="form-group mb-4">
        <label for="mobile">Mobile</label>
        <input
          type="mobile"
          id="mobile"
          class="form-control"
          placeholder="Enter your password"
          [(ngModel)]="loginObj.mobile"
          name="mobile"
        />
      </div>
       <div class="form-group mb-4">
        <label for="city">City</label>
        <input
          type="text"
          id="city"
          class="form-control"
          placeholder="Enter your password"
          [(ngModel)]="loginObj.city"
          name="city"
        />
      </div>

      <button type="submit" class="btn btn-primary w-100">Regster</button>

    
    </form>
  </div>
</div>


