.table-wrapper {
  max-height: 70%;
  overflow-y: auto;
  border: 1px solid #ccc;
}

/* Sticky header */
.my-table thead th {
  position: sticky;
  top: 0;
  background-color: #fff; /* You can change this */
  z-index: 1;
}

/* Table styling */
.my-table {
  width: 100%;
  border-collapse: collapse;
}

.my-table th,
.my-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
