<p>employee List!</p>

<input type="button" name="" id="" value="getCall" > get

<table>
  <tr>
    <th>Name</th>
    <th>Mobile</th>
    <th>City</th>
    <th>Email</th>
  </tr>
  <tr *ngFor="let item of employees">
    <td>{{ item.name }}</td>
    <td>{{ item.mobile }}</td>
    <td>{{ item.city }}</td>
    <td>{{ item.email }}</td>
    <td (click)="updateEmployee(item)">Update</td>
  </tr>
</table>


<mat-form-field>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
