<div class="form-group form-group col-lg-3 col-sm-12 col-xs-12 pull-left">
  <h3 for="search">Employee Table</h3>
</div>


<div class="form-group form-group col-lg-3 col-sm-12 col-xs-12 pull-right">
  <label for="search">Search:</label>
  <input type="text" class="form-control" id="search" [(ngModel)]="searchTable" placeholder="Enter search">
</div>
<div class="table-wrapper col-lg-12">
  <table class="table my-table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">City</th>
        <th scope="col">Email</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of filteredEmployees">
      <td scope="row">{{ item.name }} </td>
      <td scope="row">{{ item.mobile }}</td>
      <td scope="row">{{ item.city }}</td>
      <td scope="row">{{ item.email }}</td>
      <td scope="row" (click)="updateEmployeetable(item)">Update</td>
    </tr>
    </tbody>
  </table>
  <!-- <div *ngIf="Employee">
    <input type="text" [(ngModel)]="Employee.name" />
    <input type="text" [(ngModel)]="Employee.mobile" />

    <input type="text" [(ngModel)]="Employee.city" />

    <input type="text" [(ngModel)]="Employee.email" />

</div> -->
<!-- <table class="table">
    <button (click)="updateEmployee()">Save</button> 

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr> -->
</div>