body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

:host {
  display: block;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at center, #1e1e1e, #000);
  display: block;
  z-index: 1;
}

.back-home-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  text-align: center;

  button {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    border: none;
    color: white;
    padding: 12px 24px;
  }
}