<button  class="btn btn-warning ml-92" >
    <a (click)="test()">Logout</a>
</button>
<div class="dashboard-layout">
    <div class="box box1" >
        <a class="box box1" routerLink="/tiffins">Tiffins</a>
    </div>
    <div class="box box2"  >
        <a (click)="goToLunch()">Lunch</a>
    </div>
    <div class="box box3" routerLink="/snacks">Snacks</div>
    <div class="box box" routerLink="/404" [queryParams]="{ meal: 'non-veg', time: 'mid-night' }">Dinner</div>
    <div class="box box" (click)="test()"> Test</div>
    <div class="box box" routerLink="/employee" > Employee Table </div>
</div>
